<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p ><h3>The Classics Diasporic Reference Database</h4>A growing catalogue of references that aims to illuminate the long history of engagement with classicism on the part of black american women authors from Phyllis Wheatley to Toni Morrison.</p> </p><h4>In this database: </h4><span> <%= @authors %> Authors </span><br>  <span><%= @works %> Works</span><br> <span><%= @references %> References</span></p>

                    <a href="#authors" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>