<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p ><h3>The Classics Diasporic Reference Database</h4>The Classics Diasporic Reference Database Project is an online, open-access, visual database for a growing catalogue of references to ancient Greek and Roman Literature, culture, art, and myth from 1773 to the present in the works of global black authors.   </p> </p><h4>In this database: </h4><span> <%= @authors %> Authors </span><br>  <span><%= @works %> Works</span><br> <span><%= @references %> References</span></p>

                    <a href="#authors" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>