<%= render 'shim' %>
<%= render 'navigation' %>
<br>
<br>
<br>
<div class="container">

<div class="col-lg-8" >
<p id="notice"><%= notice %></p>

<p>
  <%= @author.name %>
</p>
<svg id="packing" ></svg>

</div>

<div class="col-4" >

</div>


</div>