<%= render 'shim' %>
<%= render 'navigation' %>
<br>
<br>
<br>
<div class="container">

<div class="col-lg-8" >



  <h3><%= @author.name %></h3>
<svg id="packing" ></svg>

</div>

<div class="col-4" >

</div>


</div>