<div class="container">

<div class="col-lg-8">
<p>
  <strong>
  <%= @reference.name %>
  </strong>
</p>

<%= @paths %>
<%= @page.text %>

</div>


<%#= link_to 'Edit', edit_reference_path(@reference) %>
<%#= link_to 'Back', references_path %>
<%#= link_to 'New Reference', new_reference_path %><br>

</div>